dist/
jest-reporter.js
jestsetup.js
storybook-static
coverage
**/src/**/**/__snapshots__/*
**/webpack.*.config.js
**/cypress.json
**/utils/.eslintrc.json

#=================
# cypress/
#================
**/frontend/ern/cypress

#================
# Turn off eslint in ERN's reagent-leagacy folder (and Reagent's cypress tests)
#================
**/frontend/ern/src/reagent-legacy/*

#=================
# src/
#================
**/src/polyfill.js
**/src/test_conf.json
**/src/trackers.js
**/src/AppRoot.jsx
**/src/AppRoot.test.js
**/src/cookies.js
**/src/disable-react-devtools.js
**/src/entry-dev.jsx
**/src/entry.jsx


#=================
# includes/
#================
**/src/includes/ecommerceVendorConfig.js
**/src/includes/getEcommerceVendors.js
**/src/includes/handleSearchQuery.js
**/src/includes/handleSearchQuery.test.js

#=================
# frontpage/
#================
**/src/frontpage/components/ResetPassword/index.jsx
**/src/frontpage/components/ResetPassword/ResetPassword.test.js
**/src/frontpage/components/SignupForm.jsx
**/src/frontpage/entry-contact.jsx
**/src/frontpage/entry-emailhelp.jsx
**/src/frontpage/entry-resetpassword.jsx
**/src/frontpage/entry-signup.jsx
**/src/frontpage/layouts/LoginContainer.jsx

#=================
# app/
#================
**/src/app/backend/__mocks__/api.js
**/src/app/backend/api.js
**/src/app/backend/api.test.js
**/src/app/backend/logging.js
**/src/app/components/AppHeader.jsx
**/src/app/components/AppHeader.test.js
**/src/app/components/AppProductHeader.jsx
**/src/app/components/BioinformaticsSVG.jsx
**/src/app/components/BSTabs.jsx
**/src/app/components/chart.jsx
**/src/app/components/ConfirmDialog.jsx
**/src/app/components/DynamicPagination.jsx
**/src/app/components/EmptyCartIcon.jsx
**/src/app/components/FlaskSVG/index.jsx
**/src/app/components/FlatButton.jsx
**/src/app/components/FlatButtonModal.jsx
**/src/app/components/GALogger.jsx
**/src/app/components/HeadButtonGroup.jsx
**/src/app/components/HeapTrackOnHover.jsx
**/src/app/components/InfoTag.jsx
**/src/app/components/input/DropDown/DropDown.test.js
**/src/app/components/input/DropDown/index.jsx
**/src/app/components/input/InputTextField/index.jsx
**/src/app/components/input/InputTextField/InputTextField.test.js
**/src/app/components/LoadedCheck.jsx
**/src/app/components/LockIcon.jsx
**/src/app/components/LoggerWrapper.jsx
**/src/app/components/LoginHeader.jsx
**/src/app/components/Modal/index.js
**/src/app/components/Modal/Modal.js
**/src/app/components/Modal/Modal.test.js
**/src/app/components/ModalStyled.jsx
**/src/app/components/piechart.jsx
**/src/app/components/PopUpModal/index.jsx
**/src/app/components/PopUpModal/PopUpModal.test.js
**/src/app/components/TestTubeSVG.jsx
**/src/app/components/TextTruncatorByLine.jsx
**/src/app/containers/LocalStatePagination/index.js
**/src/app/helpers.test.js
**/src/app/layouts/app.jsx
**/src/app/logging/GALoggerObj.js
**/src/app/logging/HSLoggerObj.js
**/src/app/logging/HSLoggerObj.test.js
**/src/app/logging/MasterLogger.js
**/src/app/reducer-helpers.js
**/src/app/reducer-helpers.test.js

#================================
# Figure-Search/
#================================
**/src/figure-search/components/CheckBoxControl.js
**/src/figure-search/components/EndOfResults.jsx
**/src/figure-search/components/FigureHeaderLinks.jsx
**/src/figure-search/components/FigureItem.jsx
**/src/figure-search/components/FigureItem.test.js
**/src/figure-search/components/FigureRelatedFigure.jsx
**/src/figure-search/components/FigureRelatedProduct
**/src/figure-search/components/FigureRelatedProduct.jsx
**/src/figure-search/components/FigureRelatedProduct.test.js
**/src/figure-search/components/FigureViewList.jsx
**/src/figure-search/components/FigureViewProductsList.jsx
**/src/figure-search/components/FigureViewProductsList.test.js
**/src/figure-search/components/FigureViewTitle.jsx
**/src/figure-search/components/ImageZoomable.jsx
**/src/figure-search/components/ModalContent.jsx
**/src/figure-search/components/NoVlevelSelected.jsx
**/src/figure-search/components/OptionalOverlayTriggerForRNAiActions.js
**/src/figure-search/components/SearchGallery.jsx
**/src/figure-search/layouts/FigureView.test.js
**/src/figure-search/layouts/FigureViewModalLayout.jsx
**/src/figure-search/layouts/FigureViewModalLayout.test.js

#================================
# Filtering/
#================================
**/src/filtering/components/FilterGroup.jsx
**/src/filtering/components/FilterListButton.jsx
**/src/filtering/components/FilterScreenMessage.jsx
**/src/filtering/components/FilterSuggestTable.jsx
**/src/filtering/components/FilterTag.jsx
**/src/filtering/components/MenuListMultiSelect.jsx
**/src/filtering/components/ProductSuggestTable.jsx
**/src/filtering/components/ProteinTable.jsx
**/src/filtering/components/ProteinTableItem.jsx
**/src/filtering/components/Shelf.jsx
**/src/filtering/components/Shelf.test.jsx
**/src/filtering/components/ShelfPanel.jsx
**/src/filtering/components/UInotes.txt
**/src/filtering/components/AvailabilityMenuList/index.jsx
**/src/filtering/components/CollapsibleSpec/index.js
**/src/filtering/components/FilterList/filtering-router-helpers.js
**/src/filtering/components/FilterList/index.jsx
**/src/filtering/components/SearchSuggestionsEmptyState/index.js
**/src/filtering/components/SearchSuggestionsEmptyState/SearchSuggestionsEmptyState.js
**/src/filtering/components/tests/MenuListMultiSelect.test.js
**/src/filtering/containers/FigureFilterContainer.jsx
**/src/filtering/containers/FilterDisplayCombo/FilterDisplayCombo.jsx
**/src/filtering/containers/FilterDisplayCombo/FilterDisplayCombo.test.js
**/src/filtering/containers/FilterDisplayCombo/index.js
**/src/filtering/containers/FilterInputCombo.jsx
**/src/filtering/containers/FilterStateTags/index.jsx
**/src/filtering/containers/ProductFilterContainer.jsx
**/src/filtering/layouts/FilterScreenLayout.jsx
**/src/filtering/layouts/FilterTopLayout.jsx


#================================
# User/
#================================
**/src/user/backend/api.js
**/src/user/components/AribaSSO/index.jsx
**/src/user/components/ChangePasswordModalForm.jsx
**/src/user/components/checkout/AddToCartButtonWithModal/index.jsx
**/src/user/components/checkout/CartLoadingIcon/CartLoadingIcon.test.js
**/src/user/components/checkout/CartLoadingIcon/index.jsx
**/src/user/components/checkout/CartProductRow/CartProductRow.test.js
**/src/user/components/checkout/CartProductRow/index.jsx
**/src/user/components/checkout/OrderSummary/index.jsx
**/src/user/components/checkout/OrderSummary/OrderSummary.test.js
**/src/user/components/ContactForm.jsx
**/src/user/components/Discount/ApplyDiscountHOC.jsx
**/src/user/components/EcommerceContactForm.jsx
**/src/user/components/EmailShareForm.jsx
**/src/user/components/EmptyCart/index.jsx
**/src/user/components/FigureListItem.jsx
**/src/user/components/GDPR/index.jsx
**/src/user/components/GDPRForm.jsx
**/src/user/components/ItemsSelectGenericForm.jsx
**/src/user/components/ItemsTabComponent.jsx
**/src/user/components/Login/index.jsx
**/src/user/components/LoginForm.jsx
**/src/user/components/OrderHistoryRow.jsx
**/src/user/components/ProdFigListItem.jsx
**/src/user/components/ProdFigTable.jsx
**/src/user/components/ProductListItem.jsx
**/src/user/components/ProductPrice/index.jsx
**/src/user/components/ProjectCardLayout.jsx
**/src/user/components/ProjectDetail.jsx
**/src/user/components/ProjectDropdownList.jsx
**/src/user/components/ProjectListLayout.jsx
**/src/user/components/SavedSearchRow.jsx
**/src/user/components/SavedSearchRow.test.js
**/src/user/components/Signup/index.jsx
**/src/user/components/SignupForm.jsx
**/src/user/components/Star.jsx
**/src/user/components/UserAreaDropFile.jsx
**/src/user/components/UserProfileInfo.jsx
**/src/user/components/VerifyEmail/index.jsx
**/src/user/components/VerifyEmailSent/index.jsx
**/src/user/components/VerifyPassword/index.jsx
**/src/user/containers/AddToCartModal/AddToCartModal.test.js
**/src/user/containers/AddToCartModal/index.js
**/src/user/containers/enterprise/LoginDropdownContainer.jsx
**/src/user/containers/HelpDropdownContainer.jsx
**/src/user/containers/LoginButtonContainer.jsx
**/src/user/containers/OrderHistoryContainer.jsx
**/src/user/containers/ProdFigFilter.jsx
**/src/user/containers/ProfileForm.jsx
**/src/user/containers/ProjectForm.jsx
**/src/user/containers/SavedSearchesContainer.jsx
**/src/user/containers/ShareProdFigureForm.jsx
**/src/user/containers/ShoppingCartButton.jsx
**/src/user/containers/ShoppingCartModal.jsx
**/src/user/helpers/auth.js
**/src/user/helpers/auth0.js
**/src/user/helpers/tests/auth0.test.js
**/src/user/layouts/ProjectLayout.jsx
**/src/user/layouts/SAMLLogin/index.jsx
**/src/user/layouts/SAMLLogin/SAMLLogin.test.js
**/src/user/layouts/SavedSidebarLayout.jsx
**/src/user/layouts/UserAreaLayout.jsx
**/src/user/models.js


#================================
# Product-Search/
#================================
**/src/product-search/components/AddProductToFavoritesButton/index.jsx
**/src/product-search/components/AribaLoginRequiredModal/index.jsx
**/src/product-search/components/CloneProductCountInfo/index.js
**/src/product-search/components/DropdownRow.jsx
**/src/product-search/components/EcommerceUnavailableProductInfo/index.jsx
**/src/product-search/components/EmptyResultsMessage/index.jsx
**/src/product-search/components/FavouritesIcon.jsx
**/src/product-search/components/InfoTableTag.jsx
**/src/product-search/components/InfoTableText.jsx
**/src/product-search/components/IsoformTagSection.jsx
**/src/product-search/components/ProductBannerLarge/index.jsx
**/src/product-search/components/ProductBannerLarge/ProductBannerLarge.test.js
**/src/product-search/components/ProductInfoRowCollapsibleValue/index.js
**/src/product-search/components/ProductInfoRowCollapsibleValue/ProductInfoRowCollapsibleValue.test.js
**/src/product-search/components/ProductInfoTable.jsx
**/src/product-search/components/ProductInfoTableShorthand.jsx
**/src/product-search/components/ProductInfoTableTitle.jsx
**/src/product-search/components/ProductMainSearchResultRow/components/CopyToClipboardPopover/index.js
**/src/product-search/components/ProductMainSearchResultRow/components/DataTypeIconWithText/index.js
**/src/product-search/components/ProductMainSearchResultRow/index.jsx
**/src/product-search/components/ProductMainSearchResultRow/ProductMainSearchResultRow.test.js
**/src/product-search/components/ProductPageDescription/index.js
**/src/product-search/components/ProductPageHeaderEcommerceDetails.jsx
**/src/product-search/components/ProductPageHeaderMinimized.jsx
**/src/product-search/components/PubDataDemo.jsx
**/src/product-search/components/SKUProductInfo/index.js
**/src/product-search/components/TargetInfoRow.jsx
**/src/product-search/components/TechArcGraph.jsx
**/src/product-search/components/TechLegends.jsx
**/src/product-search/components/TechniquesCell/index.jsx
**/src/product-search/components/TechniquesCell/TechniquesCell.test.js
**/src/product-search/components/tests/DropdownRow.test.js
**/src/product-search/components/tests/InfoTableTag.test.js
**/src/product-search/components/tests/ProductPageHeader.test.js
**/src/product-search/components/VendorOutlinkButton/index.jsx
**/src/product-search/components/VendorOutlinkButton/VendorOutlinkButton.test.js
**/src/product-search/containers/ArcGraphContainer.jsx
**/src/product-search/containers/CloneProductsListContainer.jsx
**/src/product-search/containers/CloneProductsSection.jsx
**/src/product-search/containers/FigureGallerySection.jsx
**/src/product-search/containers/ProductFiguresHOC/index.jsx
**/src/product-search/containers/ProductFilterDetailsSection/ProductFilterDetailsSection.js
**/src/product-search/containers/ProductSearchResultFigureDropdown/index.jsx
**/src/product-search/containers/ProductSearchResultFigureDropdown/ProductSearchResultFigureDropdown.test.js
**/src/product-search/containers/ProductStatsSmallChart.jsx
**/src/product-search/containers/TargetInfoSection.jsx
**/src/product-search/containers/tests/FigureGallerySection.test.js
**/src/product-search/layouts/ProductMainSearchResultLayout.jsx
**/src/product-search/layouts/ProductPage.jsx
**/src/product-search/layouts/ProductPageLayout.jsx
**/src/product-search/layouts/ProductResultsLayout.jsx
**/src/product-search/layouts/tests/ProductMainSearchResultLayout.test.js
**/src/product-search/layouts/tests/ProductPage.test.js


#================================
# Auto-generated types/
#================================
openAPI-schema.ts
